/*
Bit of inspiration here
https://addisoncraik.com/
https://www.zachjordan.io/#top
https://robbowen.digital/
https://www.reddit.com/r/webdev/comments/112r7m5/whats_the_best_portfolio_website_youve_ever_seen/

*/
#topBar {
    display: inline-block;
    position: absolute;
}
.top {
    display: inline-block;
}

#name {
    color: black;
    width: 25%;
    font-size: 100px;
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: inline-block;
}
/* How to get everything to line up verticall properly?*/
#profilePicture {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin-left: 5%;
    margin-top: 10%;
}
#rightSide {
    margin: 5%;
    display: inline-block;
    width: 20%;
}
#aboutMe {
    /* display: inline-block; */
    color: black;

}
#aboutMeTitle {
    color: black;
}
#copyright {
    text-align: center;

}

